* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #808080;
  padding: 15px;
  height: 30px;
}

.logo {
  width: 250px;
  display: flex;
}

.logo > img {
  width: 150px;
}

nav {
  width: 100%;
  top: 61px;
}

li {
  display: flex;
  padding: 8px 20px 8px 20px;
  justify-content: space-around;
}

li > a {
  text-decoration: none;
  color: #808080;
  font-size: 30px;
}

.menu {
  width: 50px;
  display: none;
  justify-content: center;
}

.menu > img {
  width: 50px;
}

@media screen and (max-width: 768px) {
  nav {
    position: absolute;
  }
  li {
    align-items: left;
    flex-direction: column;
  }
  .menu {
    display: flex;
  }
}
